@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;500;700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=DM+Sans:ital,opsz,wght@0,9..40,100..1000;1,9..40,100..1000&display=swap");

@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  font-family: "DM Sans", serif;
}
.custom-button::before {
  content: "";
  position: absolute;
  top: 0;
  left: -100%;
  width: 100%;
  height: 100%;
  background-color: #619b7d;
  transition: left 0.4s ease-in-out;
  z-index: -1;
}

.custom-button:hover::before {
  left: 0;
}

.sticky-nav {
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 1000;
  background-color: white; /* Adjust as needed */
  transition: top 0.3s;
}

input[type="number"] {
  -moz-appearance: textfield;
  appearance: textfield;
}

input[type="number"]::-webkit-inner-spin-button,
input[type="number"]::-webkit-outer-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

.scrollbar-hide {
  /* IE and Edge */
  -ms-overflow-style: none;

  /* Firefox */
  scrollbar-width: none;

  /* Safari and Chrome */
}

.scrollbar-hide::-webkit-scrollbar {
  display: none; /* Hide scrollbar for Safari and Chrome */
}

/* .scrollbar-default */
.scrollbar-default {
  /* IE and Edge */
  -ms-overflow-style: auto;

  /* Firefox */
  scrollbar-width: auto;

  /* Safari and Chrome */
}

.scrollbar-default::-webkit-scrollbar {
  display: block; /* Display scrollbar for Safari and Chrome */
}

html,
body {
  height: -webkit-fill-available;
}
